@import url(./fonts.css);

:root {
    /* ---x--- PRIMARY ---x--- */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* ---x--- NEUTRAL ---x--- */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --white: hsl(0, 100%, 100%);
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* 
----x----
Global
----x----
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p {
    font-weight: 400;
    line-height: 1.5rem;
}

img {
    width: 100%;
}

.cta__btn {
    border: none;
    outline: none;
    padding: 0.75rem;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.mx-width {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
}

/* 
----x----
Global
----x----
*/



/* 
----x----
Header
----x----
*/
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.header__btn {
    width: 110px;
    padding: 0.45rem;
    background: none;
    border: 2px solid var(--light-pink);
    color: var(--light-pink);
}

/* 
----x----
Header
----x----
*/

/* 
----x----
Main
----x----
*/

.main__container {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.main__info-desc {
    text-align: center;
    margin-bottom: 4rem;
}

.main__info-desc h1 {
    margin-bottom: 1rem;
    color: var(--very-dark-cyan);
    font-size: 1.5rem;
}

.main__info-desc p {
    margin-bottom: 2rem;

}

.main__info-desc .main__info-desc-btn {
    background-color: var(--pink);
    width: 200px;
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1px;
}

.main__info-img {
    margin-bottom: 4rem;
}

.main__info-users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__info-user:first-of-type {
    margin-bottom: 5rem;
}


.main__info-user-img {
    width: 25px;
    margin-bottom: 0.90rem;
}


.main__info-user-worldwide {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.90rem;
}

.main__info-user-usage {
    color: hsl(192, 9%, 66%);
}

/* 
----x----
Main
----x----
*/

@media screen and (max-width: 425px) {
    .header__logo {
        width: 160px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 130px;
    }

    .header__btn {
        width: 100px;
    }

    .main__info-desc h1 {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 160px;
    }

    .main__info-desc h1 {
        width: 100% !important;
    }

    .main__info-desc p {
        width: 460px !important;
    }

    .main__info-img {
        width: 670px;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    .main__info-users {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main__info-user:first-of-type {
        margin-bottom: 0;
    }
}



@media screen and (min-width: 425px) {
    .main__info-desc h1 {
        width: 310px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .main__info-desc p {
        width: 350px;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
}